
:root {
  --primary-color: red;
  --secondary-color:rgb(182, 179, 179);
  
}

body {

font: 500 1.125rem / 1.625rem 'Barlow', sans-serif;
display:flex;
flex-direction: column;
align-items: flex-start;
overflow: auto;

}

main {
padding-top: 10em;
flex:3;


}

h1, h2 , h3 {
   padding: 1em;
  
}

section {

  margin-left: 2em;
  margin-right:5em;
  text-align:justify;
}

p {

  line-height: 1.5rem;
  padding-bottom: 1em;

}


.flexColumn {

  display: flex;
  flex-direction: column;
 padding-left: 2em;
 padding-top: 0.5em;

}

.flexRow , .flexRowC {

  display: flex;
  flex-direction: row;
  align-items: center;

}

.flexRowC {

 background-color: rgb(247, 247, 247);
border-bottom: 2px solid black;
}


.flex_1  {

  flex:1;
  padding-top:2em;
  padding-bottom:2em;
}

.flex_3  {

  flex:3;
  padding-left: 3em;
}

.xarxesSocials {
padding-left: 1em;
padding-top: 0.5em;
}

.infoGeneral {

  font-size: small;
  font-weight: bold;
  color: white;
  padding-right: 1em;

}

.push {
  margin-left: auto;

}





li a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  text-transform: none;
  border-left: 4px solid var(--primary-color);
  padding: 0.1rem 0.65rem;
  hyphens: auto;
}

li  a:hover {

color: var(--secondary-color);
cursor: pointer;

}


nav.menuNav{
  flex:3;

}
ul.menu {

  display:flex;
  flex-direction : row;
  justify-content: space-between;

}

li.menu-item, li.submenu-item {
  font : 500 1.125rem / 1.625rem 'Barlow', sans-serif;
  flex:1;
  list-style-type: none;
  
}

li.menu-item {
  font: 600 1.375rem/1.25 'Barlow',sans-serif;
}



.topCapsa {

  background-color: black;
  position:fixed;
  top: 0;
  left:0;
  right:0;
  height: 10em;


}

#infoActivitat1 {
  display:flex;
}

.infoActivitat {
  display: none;  
}

 
  .imatgeRound, .imatgeRoundH {
    overflow: hidden;
    width: 35%; 
    border-radius: 100px;
    border: 1px solid blacK;
   }
  
   .imatgeRound img , .imatgeRoundH img {
    width: 100%;
    height: auto;
    display: block;
  }

  .imatgeRoundH {
    width: 25%; 
   }
  
  

:target {
  scroll-margin-top: 210px;
}

@media (max-width : 650px) {
  .infoGeneral {
     display:none;
  }

  .menuNav ul.menu {
     display:none;
  }  


.flexRow {
  display:block;
}
.flex_3 {
  padding-left: 0px;
}

.imatgeRound, .imatgeRoundH {
  width: 70%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
 
 }

.infoActivitat {
  display: none;
}

#infoActivitat1, #infoActivitat2, #infoActivitat3  {
  display:none;
}
}