
:root {
  --primary-color: red;
  --secondary-color:rgb(182, 179, 179);
  
}

body {
  /* font-family: Arial, Helvetica, sans-serif;*/
 font: 500 1.125rem / 1.625rem 'Barlow', sans-serif;
   display:flex;
flex-direction: column;
column-gap: 1.5rem;
align-items: flex-start;
overflow: auto;
/*border: 5px solid yellow;*/
}

header {

  flex:1;
  height: 30em;
 /* border: 5px solid red;*/
}
main {
padding-top: 12em;
flex:3;
/*border: 5px solid blue;*/
scroll-padding-top: 30em;

}
*/
h1, h2 {
   padding: 1em;
  
}

section {

  margin-left: 2em;
  margin-right:2em;
  text-align:justify;
}


.flexColumn {

  display: flex;
  flex-direction: column;
 padding-left: 2em;
 padding-top: 0.5em;
 /*border: 5px solid yellow;*/
}

.flexRow {

  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
 
 /*border: 5px solid red;*/
}
.flexRow2 {
display: flex;
flex:2;
flex-direction: row;
align-items: center;

}
.flex_1  {

  flex:1;
  padding-top:2em;
  padding-bottom:2em;
}

.flex_3  {

  flex:3;
  padding-left: 3em;
}
.center {
  justify-content:center;
}
.spaceBetween {
  justify-content:space-between;
}
.xarxesSocials {
padding-left: 1em;
padding-top: 0.5em;
}

.infoGeneral {

  font-size: small;
  font-weight: bold;
  color: white;
  padding-right: 1em;

}

.push {
  margin-left: auto;

}



p {

  line-height: 1.5rem;
  padding-bottom: 1em;
}

li a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  text-transform: none;
  border-left: 4px solid var(--primary-color);
  padding: 0.1rem 0.65rem;
  hyphens: auto;
}

li  a:hover {

color: var(--secondary-color);
cursor: pointer;

}


nav.menuNav{
  flex:3;

}
ul.menu {

  display:flex;
  flex-direction : row;
  justify-content: space-between;
  
 /* border:3px solid black;*/
}

li.menu-item, li.submenu-item {
  font : 500 1.125rem / 1.625rem 'Barlow', sans-serif;
  flex:1;
/*  scroll-margin-top: 30em;*7
  /*border:3px solid blue;*/
  list-style-type: none;
  
}

li.menu-item {
  font: 600 1.375rem/1.25 'Barlow',sans-serif;
}
.topCapsa {

  background-color: black;
 position:fixed;
  top: 0;
  left:0;
  right:0;
  height: 10em;



}

.block {

 background-color: white;

}

#infoActivitat1 {
  display:flex;
}

.infoActivitat {
  display: none;
 /*
  opacity: 100;
  padding: 20px;
  margin: 20px auto;
  */
  
}

 
  .imatgeRound, .imatgeRoundH {
    overflow: hidden;
    width: 35%; 
    border-radius: 100px;
    border: 1px solid blacK;
   }
  
   .imatgeRound img , .imatgeRoundH img {
    width: 100%;
    height: auto;
    display: block;
  }

  .imatgeRoundH {
    width: 25%; 
   }
  
  

:target {
  scroll-margin-top: 210px;
}

@media (max-width : 600px) {
  .infoGeneral {
     display:none;
  }

  ul.menu {
     display:none;
  }  
}
